@media only screen and (max-width: 767px){ 
html{
 background:#fff;
 }

body{
background:#fff;
 }
}

.school_name1{
  font-size: 13px;
font-weight: bold;
width: 80%;
margin:0 auto;
}

.about_school_div{
height: 62vh;
max-height: 600px;
}

.about_school_textarea{
border: 0; border-radius: 3px; 
height: 52vh; max-height: 560px; display: block; width: 90%; margin:20px auto 20px auto;
padding-left: 15px;
font-size: 14px;
outline:0;
-webkit-box-shadow: 3px 3px 20px rgba(0,0,250,.3);
-moz-box-shadow: 3px 3px 20px rgba(0,0,250,.3);
-ms-box-shadow: 3px 3px 20px rgba(0,0,250,.3);
box-shadow: 3px 3px 20px rgba(0,0,250,.3);

}

.content_container{
 margin-top: 65px;
}


.student_name_table{
margin:0;
}

.student_name_table td{
margin:0!important;
padding: 3px 5px!important;
border:0!important;
}

.student_name{
 display: inline-block;
width:100%;
 font-weight: bold; 
font-size: 14px;
white-space:nowrap;
overflow-x:auto;
padding: 0px 5px;
text-align:left;
}

.table_student_details td{
border: 0!important;
}

.student_avatar_container{
 width:100%;
 height:110px;
 overflow: hidden;
}

.students_avatar{
 display:block;
margin: 2px auto;
width:100%;
max-width: 100%;
min-height: 100px;
border: 1px solid rgba(0,0,0,.13);
border-radius: 5px;
/*
-webkit-box-shadow: 1px -1px 1px -1px rgba(0,0,0,.13);
-moz-box-shadow: 1px -1px 1px 1px rgba(0,0,0,.13);
-ms-box-shadow: 1px -1px 1px 1px rgba(0,0,0,.13);
box-shadow: 1px -1px 1px 1px rgba(0,0,0,.14);
*/
}


.school_avatar{
height: 35px; 
width:35px;
 border:0; 
border-radius:100%; 
position: absolute;
 left:0; 
top: -1.2px;
z-index: 20;
}

.enlarge_school_avatar{
background: #fff;
padding:10px;
position: fixed;
top:50%;
left:50%;
z-index:80;
 width: 75%;
max-width: 450px;
min-height: 20vh;
max-height: 450px;
border:0;
border-radius:10px;

-webkit-box-shadow:1px 1px 1px 2px rgba(0,0,0,0.13);
 box-shadow:1px 1px 1px 2px rgba(0,0,0,0.13);
-webkit-transform:translate(-50%,-50%);
-o-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
   transform:translate(-50%,-50%);
}

.enlarge_school_avatar img{
display: block;
margin: 0 auto;
max-width: 90%;
}

.enlarge_student_avatar{
background: #fff;
padding:10px;
position: fixed;
top:50%;
left:50%;
z-index:80;
min-width: 75%;
max-width: 450px;
min-height: 20vh;
max-height: 450px;
border:0;
border-radius:10px;

-webkit-transform:translate(-50%,-50%);
-o-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
   transform:translate(-50%,-50%);
}

.enlarge_student_avatar .this_avatar,
.enlarge_school_avatar .this_avatar{
max-width: 250px;
max-height: 250px;
display:block;
margin: 5px auto;
border:0;
border-radius:5px;
}


.student_result_container .icont{
border: 1px solid rgba(0,0,0,.4);
border-radius: 4px;
padding: 5px;
 margin-top: 4px;
padding-bottom:0;
width: 100%;
}

.student_result_container table{
 margin:0;
}


.student_result_container table,
.student_result_container td{
 border:0!important;
}

.student_result_container td{
padding: 7px;
}

.result_score_table td{
position: relative;
border:0;
}

.result_score_table span{
 position: absolute;
 top: 10px;
left: 10px;
font-size: 8px;
font-weight:bold;
}

.student_result_container input{
margin:0 auto;
min-width: 50px;
}

.result_subject_title{
 font-weight: bold;
 font-size: 14px;
}

.table_student_details{
 font-size: 13px;
font-weight:bold;
}

.table_student_details td:first-of-type{
 width: 38%;
color:#777;
}

.td_pad_5{
 padding: 5px!important;
}


.top_fixed table,
.top_fixed td{
 border:0;
}



.sidebar_container{
  position: absolute;
 left:-1px;
right:-5px;
max-height: calc(100vh - 90px);
overflow-y: auto;
padding-top: 16px;
overflow-x:hidden;

}

.sidebar_btns_container{
 margin-top: 15px;
}

.menu_items{
  display:inline-block;
}

.menu_btn,
.close_menu_btn{
position: absolute; 
 top: 10px;
 width: 35px;
background:#fff;
 border:0;
hd:1px solid #e5e5e5;
/*-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,.3);
 box-shadow:1px 1px 1px 1px;*/ rgba(0,0,0,.3);
border-radius:4px;
padding-bottom: 5px;
padding-top: 4px;
outline:none!important;
}

.menu_btn{
right:10px;
top:0px;
}

.close_menu_btn{
 left: 10px;
}

.menu_btn span,
.close_menu_btn span{
 display: block;
 border: 1px solid #444;
width: 80%;
height:1px;
margin:2px auto 0 auto;

}


.first_column{
position: relative;
background: skyblue;
overflow-y: hidden;
padding:0;
overflow-x:hidden;
}

.teacher_avatar_div{
position:relative;
width:100%;
}

.upload_logo_icon{
  position:absolute;
 top: 0;
right: 70px;
color: rgba(119,136,153);

}

.teacher_avatar{
 border: 3px solid lightskyblue;
 border-radius: 100%;
 height: 100px;
 width: 100px;
 display:block;
 margin:0 auto;
}

.first_column .sidebar_btn{
display: block;
width: 100%;
border:1px solid rgba(0,0,0,.14);
background: rgba(119,136,153,.65);/*lightslategray*/
border-bottom:0;
color:#fff;
padding:9px;
font-size: 13px;
text-align: left;
outline:none;
}

.student_btn {
    border-radius: 2px;
 margin-right:1px;
font-size: 12px;
 padding: 4px 5px;
}

.student_btn:active{
  top: 5px;
}

.main_table{
 width:100%;
padding-top:40px;
background:#fff;
}


@media only screen and (min-width: 700px){
.teacher_avatar{
 height: 150px;
 width: 150px;
}

}

.search_box{
position:absolute;
z-index: 15;
left: 15px;
}

@media only screen and (min-width: 768px){
 .content_container{
position:absolute;
top: 0; 
bottom: 0px; 
width: 100%;
overflow-y: hidden; 
background: #fff;
  }
.content_container>.row{
 height:100%;
}


.students_avatar{
 display:block;
margin-left: 13px;
max-width: 130px;
max-height: 110px;
}

.first_column .sidebar_btn{
font-size: 15px;
}

.content_container table,
.content_container td{
border: 0;
}


.first_column{
height:100%;
overflow-y: hidden;
}

.sidebar_container{
max-height: calc(100vh - 70px);
}

.second_column{
height: 100%;
padding: 0;
}

.main_table{
position: absolute;
 top:0;
 bottom:0;
height: 100%;
width: 100%;
border-right: 10px solid #C2D2E4;
border-left: 10px solid #c2d2e4;
overflow-y: auto;
overflow-x:hidden;
background:#fff;
padding-bottom:50px;
z-index:10;
padding-left: 10px;
padding-right: 10px;
}

.reports_btn_container{
 margin-left: 15px;
}

.third_column{
background-color: rgba(0,127,158,.5);
height: 100%;
}

}

@media only screen and (max-width: 767px)  {

.isMobile{
 display: none!important;
}

 .content_container{
 margin-top:40px;
}

.sm_block{
 display: block!important;
}

.first_column{
position: fixed;
z-index:100;
bottom:-10px;
top:0;
padding:0;
padding-top: 10px;
width: 60%;
max-width: 300px!important;
right:-1px;
}

.sidebar_container{
  position: absolute;
 left:-1px;
right:-5px;
max-height: calc(100vh - 15px);
overflow-y: auto;
padding-top: 16px;

}

.main_table{
 padding-bottom:50px;
}


.table_student_details{
 font-size:11px;
border:0;
}

.table_student_details td{
 border:0;
}


.students_avatar{
display:block;
 margin:0 auto;
max-width:80%;
 height: 100%;
}

.menu_btn{
 display: block;
}

.menu_items{
 display:none;
 width: 40%;
max-width: 250px;
 position: absolute;
z-index:5;
 right: 46px;
top: 10px;
 border:1px solid rgba(0,0,0,0.13);
border-radius:5px;
-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,.3);
  box-shadow:1px 1px 1px 1px rgba(0,0,0,.3);
color:#444;
 background:#fff;
}

.menu_items button{
 display:block;
width: 100%;
 border:0;
font-size: 12px;
padding: 10px 7px;
border-bottom: 1px solid #ccc;
margin-bottom:1px;
background:#fff;
color:#444;
font-family: gidole,sans-serif;
outline:0;
text-align: left;
}

.reports_btn_container{
 margin-left: 10px;
}


}

.attendance_mini_table th{
heigh:5px!important;
}



/*SCROLL BAR*/

.main_table{
scrollbar-color:red;
 scrollbar-width: 50px;
}

::-webkit-scrollbar {
 width: 10px;
}


::-webkit-scrollbar-track:vertical{
 background-color: #C2D2E4;
}


::-webkit-scrollbar-thumb:vertical {
 height: 30px;
 background-color: steelblue;
border:0;
border-radius:10px;
}


@media only screen and (max-width: 767px)  {

::-webkit-scrollbar{
  width:5px;
  }

.iresult_container .center_header,
.iattendance_container .center_header
{
 overflow-y:hidden;
}


}
